* {
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#test {
    display: flex;
    justify-content: space-around;
}

.form-control {
    width: 700px;
    margin: 0 auto;
}